.page-header {
  position: relative;
  margin-right: -30px;
  margin-left: -30px;
}

.page-header__notification {
  display: none;
}

@media (min-width: 768px) {

  .page-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 88px;
    margin: auto;
  }

  .page-header__notification {
    position: absolute;
    right: 50px;
    bottom: -45px;
    z-index: 1;
    display: block;
    margin: 0;
  }
}
