.page-header {
  position: relative;
  padding: 0;
}

.page-header__notification {
  display: none;
}

@media (min-width: 768px) {

  .page-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
  }

  .page-header__notification {
    position: absolute;
    right: 50px;
    bottom: -42px;
    z-index: 1;
    display: block;
    margin: 0;
  }
}

@media (min-width: 1250px) {

  .page-header__notification {
    right: 100px;
  }
}
