.page-footer {
  padding: 29px 0;
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  margin-right: 30px;
  margin-bottom: 22px;
  margin-left: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__development {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__developed-by {
  margin: 0;
  margin-right: 26px;
  color: #000000;
  font-size: 19px;
  font-weight: 700;
  line-height: 21px;
}

.page-footer__developer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__developer-icon {
  fill: #63d1bb;
  transition: 0.2s;

  &:hover,
  &:focus {
    fill: rgba(70, 193, 174, 1);
  }

  &:active {
    fill: rgba(70, 193, 174, 0.3);
  }
}

@media (min-width: 768px) {

  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .page-footer__wrapper {
    margin: 0;
    padding: 0;
    border: none;
  }
}
