.page-footer {
  background-color: #F1F1F1;
  padding: 30px;
}

.page-footer__development {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__developed-by {
  font-size: 19px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
  margin: 0;
}
