.page-footer {
  padding: 30px 0;
  background-color: #f1f1f1;
}

.page-footer__development {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__developed-by {
  margin: 0;
  margin-right: 30px;
  color: #000000;
  font-size: 19px;
  font-weight: 700;
  line-height: 21px;
}

.page-footer__developer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {

  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo-link {
    display: block;
  }
}
