.common-button {
  width: 100%;
  height: 52px;
  border: 2px solid #444444;
  background-color: #ffffff;
  color: #444444;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  transition: 0.2s;
  cursor: pointer;
  box-sizing: border-box;

  &:hover,
  &:focus {
    background-color: #444444;
    color: #ffffff;
    outline: none;
  }

  &:active {
    background-color: #444444;
    color: rgba(255, 255, 255, 0.3);
  }
}
