.page-header__logo-image--mobile {
  display: block;
  margin: 0 auto;
}

.page-header__logo-image--tablet {
  display: none;
}

.page-footer__logo-link {
  display: none;
}

@media (min-width: 768px) {
  .page-header__logo-image--mobile {
    display: none;
  }

  .page-header__logo-image--tablet {
    display: block;
  }
}
