.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-buttons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.social-buttons__icon {
  fill: #231f20;
  transition: 0.2s;

  &:hover,
  &:focus {
    fill: rgba(70, 193, 174, 1);
  }

  &:active {
    fill: rgba(70, 193, 174, 0.3);
  }
}
