.advantages {
  margin: 30px 0;
}

.advantages__title {
  margin-bottom: 30px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 50%;
  }
}
