.contacts {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 40px;

  &::after {
    content: "";
    align-self: center;
    position: absolute;
    top: -42px;
    width: 100vw;
    height: 6px;
    background-image: url("/img/wave.svg");
    background-repeat: repeat-x;
  }
}

.contact-info__title {
  margin-bottom: 15px;
}

.contact-info__details {
  margin-bottom: 36px;
  line-height: 30px;
  border-spacing: 0;
}

.contact-details-table {
  vertical-align: baseline;
}

.contact-details-table__title {
  width: 98px;
  padding: 15px 0;
}

.contact-details-table__email {
  display: inline-block;
  border-bottom: 1px solid #62d1ba;
  color: #444444;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid #46c1ae;
    color: #46c1ae;
  }

  &:active {
    border-bottom: 1px solid rgba(70, 193, 174, 0.3);
    color: rgba(70, 193, 174, 0.3);
  }
}

@media (min-width: 768px) {

  .contacts {
    margin-bottom: 60px;

    &::after {
      top: -88px;
      height: 22px;
    }
  }

  .contact-info {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      right: 0;
      width: 47px;
      height: 81px;
      background-image: url("/img/flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contact-info__title {
    margin-bottom: 34px;
  }

  .contact-info__details {
    width: 100%;
    margin-bottom: 55px;
    font-size: 17px;
  }

  .contact-details-table {
    display: flex;
    justify-content: space-between;
  }

  .contact-details-table__title {
    width: 72px;
  }

  .contact-details-table__row {
    width: 50%;
  }

  .contacts__button {
    width: 230px;
    align-self: center;
  }
}

@media (min-width: 1250px) {

  .contacts {
    justify-content: space-between;
    flex-wrap: wrap;
    height: 457px; //Временно
    margin-bottom: 105px;
  }

  .contact-info {
    width: 32%;
    margin-left: 175px;

    &::before {
      top: 62px;
      left: -112px;
    }
  }

  .contact-info__title {
    margin-top: 70px;
  }

  .contacts__button {
    width: 230px;
    margin-left: 175px;
    align-self: baseline;
  }

  .contact-details-table {
    flex-direction: column;
    align-items: baseline;
  }

  .contact-details-table__row {
    width: 100%;
  }

  .map {
    position: absolute;
    top: 0;
    right: 0;
    width: 526px;
    margin: 0;
  }
}
