.main-product {
  position: relative;
  margin-bottom: 69px;

  &::after {
    content: "";
    position: absolute;
    bottom: -42px;
    width: calc(100% + 60px);
    height: 6px;
    margin-left: -30px;
    background-image: url("/img/wave.svg");
    background-repeat: repeat-x;
  }
}

.main-product__headline {
  margin-bottom: 23px;
}

.main-product__title {
  margin-bottom: 7px;
  line-height: 25px;
}

.main-product__subtitle {
  color: #63d1bb;
  text-transform: uppercase;
}

.main-product__description {
  margin: 0;
  margin-bottom: 17px;
}

.main-product__details {
  margin-bottom: 30px;
  line-height: 20px;
  border-spacing: 0;
}

.product-details-table__title {
  width: 98px;
  padding: 10px 0;
}

.main-product__image {
  margin-bottom: 20px;
}

.main-product__price {
  margin-bottom: 27px;
  text-align: center;
}

@media (min-width: 768px) {

  .main-product {
    height: 500px; //Временно
  }

  .main-product__column {
    width: 44%;
  }

  .main-product__headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  .main-product__title,
  .main-product__subtitle {
    margin-bottom: 0;
  }

  .main-product__title {
    font-size: 43px;
    line-height: 50px;
  }

  .main-product__subtitle {
    max-width: 70px;
    line-height: 17px;
    text-align: center;
  }

  .main-product__description,
  .main-product__details {
    margin-bottom: 50px;
  }

  .main-product__image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
  }
}

@media (min-width: 1250px) {

  .main-product {
    height: 636px; //Временно
    margin-bottom: 100px;
  }

  .main-product__column {
    width: 28%;
    margin-left: 16%;
  }

  .main-product__headline {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 125px;
  }

  .main-product__subtitle {
    width: 100%;
    max-width: 16%;
  }

  .main-product__title {
    z-index: 1;
  }
}
