.main-banner {
  position: relative;
  margin-right: -30px;
  margin-left: -30px;
  padding-top: 70px;
  padding-bottom: 120px;
  background-color: #f1f1f1;
  background-image: url("/img/main-banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: 1px;
}

.main-banner--inner-page {
  margin-bottom: 30px;
  padding-top: 72px;
  padding-bottom: 75px;
  background-image: none;
}

.main-banner__title {
  max-width: 250px;
  margin: 0 auto;
  font-size: 27px;
  text-align: center;
}

@media (min-width: 768px) {

  .main-banner {
    display: flex;
    justify-content: center;
    height: 745px;
    margin-right: -50px;
    margin-left: -50px;
    padding-top: 153px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      z-index: -1;
      width: 100vw;
      height: 100%;
      background-color: #f9f9f9;
      border-top: 1px solid #ececec;
    }
    
    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      z-index: 1;
      width: 100vw;
      height: 22px;
      background-image: url("/img/layer.svg");
    }
  }

  .main-banner--inner-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
    margin-bottom: 80px;
    padding: 0;
    padding-top: 15px;

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      z-index: 1;
      width: calc(100% + 100px);
      height: 22px;
      margin-right: -50px;
      margin-left: -50px;
      background-image: url("/img/layer.svg");
      background-repeat: repeat-x;
    }
  }

  .main-banner__title {
    max-width: none;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: 1250px) {

  .main-banner {

    &::after {
      bottom: -18px;
      width: 100vw;
      height: 34px;
    }
  }

  .main-banner--inner-page {
    height: 255px;
    margin-bottom: 128px;
    padding: 0;

    &::after {
      bottom: -18px;
      height: 34px;
    }

    .main-banner__title {
      margin-bottom: 12px;
    }
  }
}
