.main-banner {
  position: relative;
  margin-right: -30px;
  margin-left: -30px;
  padding-top: 70px;
  padding-bottom: 120px;
  border-top: 1px solid #ececec;
  background-color: #f1f1f1;
  background-image: url("/img/main-banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: -20px;
}

.main-banner--inner-page {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: none;
}

.main-banner__title {
  max-width: 250px;
  margin: 0 auto;
  font-size: 27px;
  text-align: center;
}

@media (min-width: 768px) {

  .main-banner {
    height: 745px;
    margin-right: -50px;
    margin-left: -50px;
    padding-top: 163px;
  }

  .main-banner--inner-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
    padding: 0;
  }

  .main-banner__title {
    max-width: none;
    font-size: 43px;
    line-height: 50px;
  }
}
