.main-product {
  margin-bottom: 30px;
  position: relative;
}

.main-product__title {
  margin-bottom: 7px;
}

.main-product__subtitle {
  color: #63D1BB;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.main-product__description {
  margin: 0;
  margin-bottom: 30px;
}

.main-product__details {
  line-height: 20px;
  margin-bottom: 30px;
}

.main-product__price {
  text-align: center;
  margin-bottom: 34px;
}

@media (min-width: 768px) {
  .main-product {
    height: 500px; //Временно
  }

  .main-product__column {
    width: 44%;
  }

  .main-product__headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  .main-product__title,
  .main-product__subtitle {
    margin-bottom: 0;
  }

  .main-product__title {
    font-size: 43px;
    line-height: 50px;
  }

  .main-product__subtitle {
    max-width: 70px;
    text-align: center;
    line-height: 17px;
  }

  .main-product__description,
  .main-product__details {
    margin-bottom: 50px;
  }

  .main-product__image {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media (min-width: 1250px) {
  .main-product {
    height: 636px; //Временно
    margin-bottom: 100px;
  }

  .main-product__column {
    width: 28%;
    margin-left: 16%;
  }

  .main-product__headline {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 125px;
  }

  .main-product__subtitle {
    max-width: 16%;
    width: 100%;
  }

  .main-product__title {
    z-index: 1;
  }
}
