.order-form {
  margin-top: -7px;
  margin-bottom: 55px;
  font-size: 17px;
  font-weight: 700;
}

.order-form__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 400;
}

.order-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-form__fieldset {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  border: none;
}

.order-form__item {
  position: relative;
  margin-bottom: 2px;

  &:last-child {
    margin-bottom: 0;
  }

  &--color {
    margin-bottom: 21px;
  }
}

.order-form__block {

  &--contact {
    margin-bottom: 14px;
  }
}

.order-form__subtitle {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 19px;
  padding: 0;
  color: #63d1bb;
  text-transform: uppercase;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    margin-left: 20px;
    background-color: #63d1bb;
  }

  &--contact {
    margin-bottom: 15px;
  }
}

.order-form__icon {
  display: none;
}

.order-form__input {
  position: relative;
  width: 100%;
  margin-bottom: 14px;
  padding-bottom: 14px;
  border: none;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  color: #444444;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  outline: none;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
    line-height: 18px;
  }

  &:hover,
  &:focus {
    border-color: #62d1ba;
  }

  &[name="middle-name"] {
    margin-bottom: 0;
  }
}

.order-form__label {
  display: flex;
  align-items: center;
  padding: 11px 0;
  padding-left: 62px;
  color: #000000;
  line-height: 18px;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 38px;
    height: 38px;
    cursor: pointer;
  }

  &--type::before {
    background-image: url("/img/radio-off.svg");
    background-repeat: no-repeat;
  }

  &--color::before {
    width: 40px;
    height: 39px;
    background-image: url("/img/checkbox-off.svg");
    background-repeat: no-repeat;
  }

  &--name {
    padding-top: 6px;
    padding-bottom: 12px;
    padding-left: 0;
  }

  &--type {
    max-width: 230px;
  }
}

.order-form__label--type:hover::before,
.order-form__radio:focus + .order-form__label--type::before {
  outline: none;
  background-image: url("/img/radio-off-hover.svg");
}

.order-form__radio:checked + .order-form__label--type:hover::before {
  background-image: url("/img/radio-on-hover.svg");
}

.order-form__radio:checked + .order-form__label--type::before {
  background-image: url("/img/radio-on.svg");
}

.order-form__radio:disabled + .order-form__label--type::before {
  background-image: url("/img/radio-off-disabled.svg");
}

.order-form__radio:checked:disabled + .order-form__label--type::before {
  background-image: url("/img/radio-on-disabled.svg");
}

.order-form__label--color:hover::before,
.order-form__checkbox:focus + .order-form__label--color::before {
  outline: none;
  background-image: url("/img/checkbox-off-hover.svg");
}

.order-form__checkbox:checked + .order-form__label--color:hover::before {
  background-image: url("/img/checkbox-on-hover.svg");
}

.order-form__checkbox:checked + .order-form__label--color::before {
  background-image: url("/img/checkbox-on.svg");
}

.order-form__checkbox:disabled + .order-form__label--color::before {
  background-image: url("/img/checkbox-off-disabled.svg");
}

.order-form__checkbox:checked:disabled + .order-form__label--color::before {
  background-image: url("/img/checkbox-on-disabled.svg");
}

.order-form__input--message {
  height: 144px;
  margin-bottom: 6px;
  padding: 15px;
  border: 2px solid #000000;
  resize: none;
}

.order-form__description {
  margin: 0;
  margin-bottom: 27px;
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: 768px) {

  .order-form__fieldset {
    margin-bottom: 50px;

    &--color {
      margin-right: -50px;
      margin-bottom: 48px;
      margin-left: -50px;
      padding: 50px;
      background-color: #f1f1f1;
    }
  }

  .order-form__block {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &--contact {
      margin-top: 13px;
      margin-bottom: 33px;
    }

    &--contact:last-child {
      margin-bottom: 0;
    }
  }

  .order-form__title {
    margin-bottom: 55px;
    font-size: 17px;
    line-height: 30px;
  }

  .order-form__subtitle {
    width: 25%;
    margin-top: 15px;
    flex-shrink: 0;

    &::after {
      content: none;
    }

    &--contact {
      margin-top: 0;
    }
  }

  .order-form__list {
    width: 100%;
  }

  .order-form__list--color {
    display: flex;
    flex-wrap: wrap;
  }

  .order-form__item {
    display: flex;
    margin-bottom: 23px;

    &:last-child {
      margin-bottom: auto;
    }

    &--color {
      width: 50%;
    }

    &--color:nth-child(5),
    &--color:nth-child(6) {
      margin-bottom: 0;
    }

    &--color:nth-child(even) {
      padding-left: 11px;
    }

    &--color:nth-child(even) .order-form__label--color::before {
      margin-left: 11px;
    }
  }

  .order-form__icon {
    position: absolute;
    right: 22px;
    display: block;
    fill: #cccccc;
  }

  .order-form__input {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 19px;

    &::placeholder {
      padding-left: 15px;
    }

    &--message {
      margin-bottom: 50px;
    }

    &--message::placeholder {
      padding-left: 0;
    }

    &--contact {
      padding-bottom: 13px;
    }

    &:hover + .order-form__icon,
    &:focus + .order-form__icon {
      fill: #62d1ba;
    }
  }

  .order-form__label {
    padding: 17px 0;
    padding-left: 81px;
    font-size: 19px;
    line-height: 19px;

    &::before {
      width: 51px;
      height: 51px;
    }

    &--type {
      max-width: 100%;
    }

    &--color::before {
      width: 54px;
      height: 52px;
    }

    &--name {
      margin-right: 25px;
      padding-left: 0;
    }
  }

  .order-form__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .order-form__button {
    width: 230px;
  }

  .order-form__description {
    margin-bottom: 0;
    font-size: 17px;
  }
}

@media (min-width: 1250px) {

  .order-form__title {
    width: 700px;
    margin: auto;
    margin-bottom: 55px;
  }

  .order-form__subtitle {
    width: 175px;
    text-align: center;
  }

  .order-form__item {
    width: 80%;

    &--color {
      width: 30%;
    }

    &--color:nth-child(even) {
      padding-left: 0;
    }

    &--color:nth-child(even) .order-form__label--color::before {
      margin-left: 0;
    }
  }

  .order-form__block {

    &--contact {
      margin-right: 175px;
    }
  }

  .order-form__input {

    &--message {
      margin-right: 175px;
    }
  }

  .order-form__footer {
    padding: 0 175px;
  }
}
