.testimonials {
  position: relative;
  margin-bottom: 83px;
  line-height: 30px;

  &::after {
    content: "";
    position: absolute;
    bottom: -52px;
    width: calc(100% + 60px);
    height: 6px;
    margin-left: -30px;
    background-image: url("/img/wave.svg");
    background-repeat: repeat-x;
  }
}

.testimonials__title {
  margin-bottom: 24px;
}

.testimonials__content {
  margin: 0;
  margin-bottom: 29px;
}

.testimonials__author {
  margin-bottom: 31px;
}

.testimonials__name {
  margin-bottom: 3px;
}

.testimonials__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.pagination-arrow {
  width: 50%;
  height: 52px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  cursor: pointer;
  box-sizing: border-box;
}

.pagination-arrow__image--rotate {
  transform: rotate(180deg);
}

.testimonials__username {
  display: inline-block;
  color: #444444;
  font-size: 17px;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
  }
}

@media (min-width: 768px) {

  .testimonials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .testimonials__item {
    width: 50%;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
      width: 100%;
    }

    &:nth-child(3) {
      order: 4;
    }

    &:nth-child(4) {
      order: 5;
      margin-bottom: 0;
    }

    &:nth-child(5) {
      order: 2;
    }
  }

  .testimonials__content {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .testimonials__button {
    width: 175px;
  }
}

@media (min-width: 1250px) {

  .testimonials {
    margin-left: 16%;
  }
}
