.testimonials {
  line-height: 30px;
  margin: 30px 0;
  position: relative;
}

.testimonials__pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 38px;
}

.pagination-arrow {
  background-color: #ffffff;
  border: 1px solid #ececec;
  width: 50%;
  height: 52px;
  box-sizing: border-box;
  cursor: pointer;
}

.testimonials__username {
  font-size: 17px;
  color: #444444;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
  }
}

@media (min-width: 768px) {
  .testimonials__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 175px;
  }

  .testimonials__pagination {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
  }
}
