// Временно
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  background-color: #ffffff;
  min-width: 320px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0;
  border:0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  width: auto;
  padding: 0 30px;
  margin: auto;

}

@media (min-width: 768px) {
  .container {
    width: 668px;
    padding: 0 50px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1050px;
    padding: 0 100px;
  }
}
