body {
  color: #444444;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.headline-large,
.headline-big,
.headline-middle {
  margin: 0;
  color: #000000;
  font-weight: 700;
}

.headline-large {
  font-size: 25px;
  line-height: 30px;
}

.headline-big {
  font-size: 17px;
  line-height: 20px;
}

@media (min-width: 768px) {

  .headline-large {
    font-size: 43px;
    line-height: 50px;
  }
}
